nav {
    position: fixed;
    top: 0;
    font-weight: 520;
}
/* to make the navbar stick at the top */

body {
    font-family: 'Montserrat', sans-serif;  
    /* background-color: rgb(222, 227, 249); */
    background-color: rgb(255, 255, 255);
}

.dropdown-item {
    font-weight: bolder;
    /* color: rgb(210, 210, 210); */
    color: #0084ff4d;
}

.logopu {
    width: 40px;
    margin: 3px;
    margin-right: 8px;
}

.carousel-item img {
    max-width: 100vw;
    max-height: 50vh;
    object-fit: cover;
}

.canteens-headings {
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 5vw;
    font-weight: bold;
    background-color:#2644b2;
    color: aliceblue;
}


.kantin-lama-card {
    margin-top: 2vw;
    margin-bottom: 2vw;
    /* margin-left: 3vw;
    margin-right: 3vw;
    float:left; */
    /* justify-content: center;
    align-items: center; */
    transition: transform 0.5s;
}

.kantin-lama-card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.cards-container {
    margin: 10px;
}

.tebal {
    font-weight: bold;
}

.card .btn {
    font-weight: 600;
}

.card {
    margin: auto;
    width: 18rem;
}













/* the css for menu */

.menu-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    padding-left: 20px;
    font-weight: bold;
}

.heading-kl {
    margin-top: -30px;
}

.heading-kb {
    margin-top: 15px;
}

.sidenav {
    max-height: 630px;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 62px;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgb(240, 243, 255);
    overflow-y: scroll;
    padding-top: 50px;
    float: left;
    border-style: solid;
    border-color: rgb(141, 166, 255);
    border-radius: 15px;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
}

.sidenav::-webkit-scrollbar {
    display: none;
  }

.sidenav a {
    font-weight: bold;
    padding: 5px 15px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #5c5c5c;
    display: block;
    background-image: linear-gradient(
        to left,
        #7473d4,
        #7473d4 50%,
        rgb(240, 243, 255) 50%
    );
    background-size: 200% 100%;
    background-position: 0%;
    background-clip: text;
    transition: all 0.2s ease-in-out;
}

.sidenav a:hover {
    background-position: -100%;
    color: aliceblue;
}

.sidenav a:hover::before {
    width: 100%;
  }


/* sidenav2 */


.sidenav2 {
    position: sticky;
    top: 100px;
    background-color: rgb(240, 243, 255);
    overflow-y: scroll;
    padding-top: 50px;
    float: left;
    border-style: solid;
    border-color: rgb(141, 166, 255);
    border-radius: 15px;
}

.sidenav2::-webkit-scrollbar {
    display: none;
  }

.sidenav2 a {
    font-weight: bold;
    padding: 5px 15px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #5c5c5c;
    display: block;
    background-image: linear-gradient(
        to left,
        #7473d4,
        #7473d4 50%,
        rgb(240, 243, 255) 50%
    );
    background-size: 200% 100%;
    background-position: 0%;
    background-clip: text;
    transition: all 0.2s ease-in-out;
}

.sidenav2 a:hover {
    background-position: -100%;
    color: aliceblue;
}

.sidenav2 a:hover::before {
    width: 100%;
  }

.food-menu {
    margin-top: 50px;
    margin-left: 305px;
}

.food-card-img{
    margin-left: -0.5px;
    height: 200px;
    width: 286.9px;
    min-width: 250px;
    border-radius: 5px;
    margin-top: auto;
}

.food-menu-card {
    margin-top: 25px;
    margin-left: 100px;
    float:left;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.food-menu-card-swm {
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.food-menu-card-swm .card {
    margin-left: 0;
}

#mie-ayam-card{
    height: 286.9px;
}

.food-menu-card-x {
    margin-top: 25px;
    margin-left: 320px;
    float:left;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

#second{
    margin-top: 25px;
    margin-left: 85px;
}

.food-menu-card:hover, .food-menu-card-swm:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1); 
}

.food-menu-card-x:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1); 
}

.first-food-menu{
    margin-left: 305px;
    margin-top: 15px;
}

.food-menu {
    margin-left: 305px;
    margin-top: 375px;
}

#rice-box{
    margin-top: 10px;
}

#rasa-manna{
    margin-top: 365px;
}

#ayam-penyet{
    margin-top: 690px;
}

.menu-headings {
    margin-top: 2vw;
    margin-bottom: 1vw;
    
    margin-right: 3vw;
    font-size: 5vw;
    font-weight: bold;
    background-color:#38B6FF;
    color: aliceblue;
}

.im-so-tired{
    margin-top: 700px;
    margin-bottom: 1vw;
    margin-right: 3vw;
}

.im-too-tired{
    margin-bottom: 1vw;
    margin-right: 3vw;
}

#kl-menu{
    margin-left: 20vw;
}

#kb-menu{
    margin-left: 17.9vw;
}

#png{
    height: 200px;
    width: 230px;
    margin-left: 20px;
    border: 15px;
    border-style: solid;
    border-color: white;
}


/* footer */

footer {
    text-align: left;
    width: 100%;

    padding: 5vh 5vw;
    background-color: #ffffff;
    /* border-radius: 150px 150px 0 0; */
    color: rgb(0, 0, 0);
    padding-top: 10vh;
}

footer .logo {
    max-width: 150px;
    /* max-height: 130px; */
    margin-bottom: 15px;

}

footer a {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
}

footer p {
    margin-bottom: 0;
    font-size: 12px;
}

.address {
    margin-top:15px;
    font-size: 15px;
}


footer li a {
    margin-right: 0;
}
footer a i {
    font-size: 25px;
    
}

footer h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.extra-padding {
    padding-left: 5vw;
}
footer ul li {
    list-style: none;
    margin-top: 15px;
    
}

footer ul {
    padding-left:0px;
}

.flip-horizontally {
    transform: scaleX(-1);
}

.mascot {
    width: 300px;
}

.btn-primary {
    font-size: 20px;
    font-weight: bold;
}

.swm-shadow {
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
}

.footer-shadow {
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
    border-radius: 30px;
}


/* home css */

#banner-container {
    width: 100vw;
    height: 56.25vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%,
    rgb(255, 255, 255)), url('banner\ PUKUL.jpg');
    background-size: cover;
}


#about-us {
    background-color: #2644b2;
    min-height: 200px;
    color:white;
    font-size: 20px;
}

#about-us h2 {
    font-weight: bold;
    font-size: 32px;
}

#swm {
    width: calc(100% + 24px);
    /* padding-bottom: 12px;
    border-radius: 50px; */
    margin-left: -12px;
}

#intro {
    padding: 5vw;
    
}

#description {
    /* background-color: #00A3FF; */
    background-color: #f9f9f9;
    /* background: linear-gradient(to bottom, rgba(0, 163, 255, 1) 0, rgba(0, 163, 255, 1) 70%, rgba(38, 68, 178, 1) 70%, rgba(38, 68, 178, 1)); */
    color:rgb(0, 0, 0);
    padding: 5vw 7vw calc(5vw + 180px);
    font-size: 20px;
    font-weight: 500;
    line-height: 2.0;
    color: #666;
    /* color: #ffffff; */
    position: relative;
}



#why {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom:40px;
    margin-top:100px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

#why:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

#why h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 60px;
}

.stats {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
    color: #666;
}

.caption {
    font-size: 18px;
}

#contact-us .btn {
    font-weight: bold;
    font-size: 24px;
    margin-top: 59px;
    padding: 10px 20px;
}

#contact-us {
    background-color:#2644b2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    text-align: center;
}

.gallery-headings {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 70px;
}

#promotion-container {
    margin-top: 60px;
}

.promotion {
    max-width: 100%;
    border-radius: 10px;

    transition: transform 0.5s;
}

.promotion:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.promo-code-banner {
    text-align: center;
}

/* #pukul {
    margin-top: 40px;
    margin-bottom: 40px;
} */

.photos-headings {
    font-size: 60px;
    font-weight: bold;
    margin: 80px;
    text-align: center;
    margin-top:100px;
}

.past-events-container {
    margin-bottom: 40px;
}


.past-events-container p {
    font-size: 24px;
    line-height: 2;
}

.events-photo {
    width: 80%;
    border-radius: 30px;
    margin-bottom: 200px;
}

.no-margin-bottom {
    margin-bottom:0;
}

.caption-title {
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
}

#carousel-kantin-lama {
    width: 80%;
    margin-bottom: 200px;

}

#carousel-kantin-baru {
    width: 80%;
    margin-bottom: 200px;
    float: right;
}




.round-carousel {
    border-radius: 30px;
}

#denah {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom:150px;
    margin-top:0px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

#denah-width {
    width: 100%;
}

#denah:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}
@media (max-width: 767px) {
    .promo-code-banner{
        margin-bottom:30px;
    }


    footer {
        
        text-align: center;
        /* border-radius: 50px 50px 0 0; */

    }

    footer .logo {
        max-width: 200px;
    }
    .mascot {
        display: none;
    }
    #about-us {
        font-size: 18px;
        margin-top: 40px;
    }
    #about-us h2 {
        font-size: 24px;
    }
    #description {
        background: #ffffff;
        font-size: 18px;
    }
    #why .stats {
        font-size: 32px;
    }
    #why h2 {
        font-size: 32px;
    }

    .gallery-headings{
        font-size: 50px;
    }
    .events-photo {
        width: 100%;
        border-radius: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .caption-title {
        font-size: 32px;
        margin-top: 20px;
        font-weight: bold;
    }
    .past-events-container p {
        font-size: 18px;
        line-height: 1.5;
    }
    #carousel-kantin-baru {
        float: none;
        margin: 20px auto
    }
    #carousel-kantin-lama {
        margin: 20px auto
    }
}

.navbar {
    font-weight: bold;
}

/* Menu2 */
#dishes h1 {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-left: .5em;
    color: #FFF;
    background-color: #38B6FF;
    font-size: 5vw;
}

#dishes h1, #dishes h2 {
    font-weight: bold;
}

#dishes .card {
    /* width: 100%; */
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    #dishes .card {
        margin-left: auto;
    }

    #dishes h1, #dishes h2 {
        text-align: center;
    }
}


/* Made by SWM Super Website Maker Desmond Alex Popo Viogiska Dila */
