nav {
    position: fixed;
    top: 0;
    font-weight: 520;
}
/* to make the navbar stick at the top */

body {
    font-family: 'Montserrat', sans-serif;  
    background-color: rgb(240, 243, 255);
}

.logopu {
    width: 40px;
    margin: 3px;
    margin-right: 8px;
}